.login-container {

  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #fdf8ee;

  font-family: Inter, sans-serif;

  position: relative;
  overflow: hidden;

}


/* YELLOW CIRCLES */

.circle {

  position: absolute;

  border-radius: 50%;

  background: #f5c518;

  z-index: 1;

}

.circle1 {

  width: 350px;
  height: 350px;

  top: -120px;
  left: -120px;

  opacity: 0.35;

}

.circle2 {

  width: 250px;
  height: 250px;

  bottom: -100px;
  right: -80px;

  opacity: 0.3;

}

.circle3 {

  width: 150px;
  height: 150px;

  top: 120px;
  right: 200px;

  opacity: 0.2;

}

.circle4 {

  width: 80px;
  height: 80px;

  bottom: 180px;
  left: 200px;

  opacity: 0.4;

}


/* LOGIN CARD */

.login-card {

  width: 900px;
  height: 550px;

  background: white;

  display: flex;

  border-radius: 20px;

  box-shadow: 0 25px 60px rgba(0,0,0,0.2);

  overflow: hidden;

  position: relative;
  z-index: 10;

}


/* LEFT IMAGE */

.login-left {

  width: 50%;

  background-size: cover;
  background-position: center;

  position: relative;

}


.overlay {

  position: absolute;

  width: 100%;
  height: 100%;

  background: linear-gradient(
    rgba(0,0,0,0.4),
    rgba(245,197,24,0.4)
  );

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  padding: 40px;

  color: white;

}


.logo-text {

  font-size: 36px;
  font-weight: bold;

}

.logo-text span {

  color: #f5c518;

}


.tagline {

  margin-top: 10px;
  font-size: 14px;

}


/* RIGHT PANEL */

.login-right {

  width: 50%;

  padding: 60px;

  display: flex;
  flex-direction: column;
  justify-content: center;

}


.login-right input {

  width: 100%;

  padding: 12px;

  margin-bottom: 15px;

  border-radius: 10px;

  border: 1px solid #ddd;

}


.login-right button {

  padding: 12px;

  border-radius: 10px;

  border: none;

  background: #f5c518;

  font-weight: bold;

  cursor: pointer;

}


.login-right button:hover {

  background: #e6b800;

}


.error {

  background: #ffe5e5;

  color: red;

  padding: 10px;

  margin-bottom: 10px;

  border-radius: 10px;

}